// LAYOUT
h1 {
    margin-bottom: 1rem;
}

.center-container {
    display: flex;
    .center-x {
        margin-left: auto;
        margin-right: auto;
    }
}

// STYLE
$primary: #EF5350;
$secondary: #9CCC65;
$button-new: #9C27B0;



// ELEMENTS

.v-data-table {
    th.text-center.sortable {
        padding-left: 34px;
    }
    tr {
        cursor: pointer;

    &.selected {
        font-weight: bold;
        background: $secondary !important;
    }
}

    .v-chip {
        min-width: 65px;
        margin: 0 auto;
        font-weight: bold;
        span.v-chip__content {
            margin: 0 auto;
        }
    }
}


.v-dialog {
    background: white;
    
    .input-section {

    padding-top: 3rem;
    padding-bottom: 1rem;
    border-top: 3px solid #9c27b0;
    background-color: white;
    position: absolute;
    bottom: 0;
    background: white;
        .container {

        bottom: 0;
    }
    .v-input__control {
        max-height: 80px;
        overflow-y: scroll;
        overflow-x: hidden;
        .v-input__slot {
            padding-top: 0.8rem;
        }
    }
    .v-text-field__details {
        display: none;
    }
}
}

.v-snack__content {
    text-align: center;
  }